# Build artifacts

frontend/node_modules
frontend/dist
frontend/.angular

*/node_modules/*
*/dist/*
*/.angular/*

thirdparty/*duckdb*
thirdparty/*sqlite*
thirdparty/*.zip

# Data directory
data/

nob
build_runner
build/
*.o
*.out
*.exe

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
*.origin
*.bak

# OS files
.DS_Store
Thumbs.db
