# Build artifacts

frontend/node_modules
frontend/dist
frontend/.angular

*/node_modules/*
*/dist/*
*/.angular/*

frontend-alt*/node_modules

thirdparty/*duckdb*
thirdparty/*sqlite*

nob
build_runner
build/
*.o
*.out
*.exe

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
