# Build artifacts

frontend/node_modules
frontend/dist
frontend/.angular


thirdparty/*duckdb*

nob
build_runner
build/
*.o
*.out
*.exe

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
